HOLO_HOST=hgprecn-cn-smw4j34mh004-cn-beijing.hologres.aliyuncs.com
HOLO_PORT=80
HOLO_DATABASE=
HOLO_USER='BASIC$holo_r'
HOLO_PASSWORD=
HOLO_SCHEMA=bi
HOLO_TABLE=performance_configuration
HOLO_SSLMODE=prefer
HOLO_CONNECT_TIMEOUT=10
HOLO_MAX_CONNECTIONS=6
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8010
SESSION_MAX_AGE_SECONDS=28800

# qData deployment on hm-bi-001:
# APP_NAME=qData
# PUBLIC_URL=http://10.4.230.23:18080
# BACKEND_HOST=0.0.0.0
# BACKEND_PORT=18080
# SESSION_MAX_AGE_SECONDS=28800
